<!DOCTYPE html>
<html>
<head th:replace="~{layouts/base :: head}">
</head>
<body>
<nav th:replace="~{layouts/base:: menu}"></nav>
<div class="row row-cols-8 row-cols-md-8 g-8 m-8" href="categories.html">
    <div th:each="book : ${bookList}" class="col">
        <div  class="card">
            <img class="card-img-top p-5" th:src="@{${'/images/cover/' + book.cover}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.title}">Card title that wraps to a new line</h5>
                <a th:href="@{${'/books/' + book.id}}" class="btn btn-primary stretched-link">Detalles</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layouts/base :: footer}"></footer>
<script th:replace="~{layouts/base :: jquery}"></script>
<script th:replace="~{layouts/base :: popper}"></script>
<script th:replace="~{layouts/base :: bootstrap}"></script>
</body>
</html>